main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#posts {
    width: 100%;
    max-width: 1600px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: center;
}

#posts .post-image {
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}

#posts .post-footer {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#posts .user {
    display: flex;
    align-items: center;
}

#posts .text {
    margin-left: 15px;
}

#posts .user-name {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

#posts .post-time {
    margin-top: 5px;
    color: #a0a0a0;
    font-size: 0.8rem;
}

#posts .user-pic {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

@media (max-width: 1700px) {
    #posts {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1100px;
    }
}

@media (max-width: 1200px) {
    #posts {
        grid-template-columns: 1fr;
    }
}