<div id="postModal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content">
        <div class="image-section">
            <img id="modalImage" src="" alt="Pet Image">
        </div>
        <div class="details-section">
            <div class="user">
                <img id="modalProfilePic" class="user-pic" src="" alt="">
                <div class="text">
                    <a id="modalUsername" class="user-name" href=""></a>
                    <p id="modalPostTime" class="post-time"></p>
                </div>
            </div>
            <hr>
            <div class="caption-container">
                <p id="modalCaption">Caption goes here</p>
            </div>
            <div id="commentsSection">
            </div>
        </div>
    </div>
</div>