<div id="postModal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content">
        <div class="image-section">
            <img id="modalImage" src="" alt="Pet Image">
        </div>
        <div class="details-section">
            <p id="modalCaption">Caption goes here</p>
            <div id="commentsSection">
                <p>Comments:</p>
                <ul id="commentsList">
                    <!-- Comments will be dynamically loaded here -->
                </ul>
            </div>
        </div>
    </div>
</div>