@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #292d34;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}

p {
    font-size: 1rem;
}


#navbar {
    width: 100%;
    max-height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(30px)
}

#navbar div {
    display: flex;
    width: 30%;
    margin: 20px 50px;
}

#navbar h1 {
    font-family: "Playwrite CU", cursive;
    font-size: 1.7rem;
    font-weight: 400;
    color: #292d34;
}

#navbar .logo {
    text-decoration: none;
}

#navbar .navigation {
    justify-content: center;
    align-items: center;
}

#navbar .navigation a {
    margin: 0 30px;
    text-decoration: none;
    color: inherit;
}

#navbar .bi-plus-square, .bi-plus-square-fill {
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 2rem;
    -webkit-text-stroke: 0.03rem black;
    transition: background-color 0.3s ease;
}

#navbar .bi-house-door, .bi-house-door-fill {
    padding: 7px 12px;
    border-radius: 15px;
    font-size: 2.3rem;
    -webkit-text-stroke: 0.01rem #292d34;
    transition: background-color 0.3s ease;

}

#navbar .bi-plus-square:hover, .bi-plus-square-fill:hover, .bi-house-door:hover, .bi-house-door-fill:hover {
    background-color: rgba(235, 235, 235, 0.7);
}

#navbar .user {
    justify-content: right;
    position: relative;
}

#navbar .user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 15px;
}

#navbar .user-element {
    pointer-events: none;
}

#navbar .user a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    align-items: center;
    display: flex;
}

main {
    margin-top: 150px;
}

#navbar .dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    right: -25%;
    top: calc(100% + .10rem);
    width: 135px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
}

#navbar .dropdown.active > .drop + .dropdown-content {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

#navbar .dropdown-content a {
    padding: 1rem;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;
}

#navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}









