{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Titel %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet" />
    {% block css_files %}{% endblock %}
</head>
<body>
    <nav id="navbar">
        <div class="logo">
            <a class="logo" href="{% url 'posts' %}"><h1>Petstagram</h1></a>
        </div>
        <div class="navigation">
            <a href="{% url 'posts' %}">
                {% if request.resolver_match.url_name == 'posts' %}
                    <i class="bi bi-house-door-fill"></i>
                {% else %}
                    <i class="bi bi-house-door"></i>
                {% endif %}
            </a>
            <a href="{% url 'upload_post' %}">
                {% if request.resolver_match.url_name == 'upload_post' %}
                    <i class="bi bi-plus-square-fill"></i>
                {% else %}
                    <i class="bi bi-plus-square"></i>
                {% endif %}
            </a>
        </div>
        <div class="user">
            <div class="dropdown" data-dropdown>
                <a class="drop" href="javascript:void(0)" data-dropdown-button>
                    <img src="{{ user.userprofile.profile_picture.url }}" alt="" class="user-element">
                    <p class="user-element">{{ user.username }}</p>
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'user_profile' user.username %}" class="view-profile">View profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>