{% extends 'base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
{% endblock %}

{% block content %}
    <ul id="posts">
        {% for post in posts %}
            <li class="post">
                <a href="{% url 'post_detail' post.id %}"><img src="{{ post.image.url }}" alt="post image" style="height: 500px; width: 500px;"></a>
                <div class="post-footer">
                    <div class="user">
                        <img class="user-pic" src="{{ post.user.userprofile.profile_picture.url }}" alt="">
                        <div class="text">
                            <a class="user-name" href="{% url 'user_profile' post.user.pk %}">{{ post.user.username }}</a>
                            <p class="post-time">{{ post.time_since_post }}</p>
                        </div>
                    </div>
                    <div class="actions">

                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}